/* h1 {
    color: green;
} */

html {
    font-size: 16px;
    height: 100%;
    width: 100%;
    font-family: "Roboto", Verdana, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
.ahMainTitle,
.ahSubTitle,
.peMainTitle,
.peSubTitle,
.peDate {
    font-family: "Montserrat", Verdana, sans-serif;
}

body,
#root,
.app {
    margin: 0;
    height: 100%;
}


header,
footer {
    padding: 0 2.5rem;
}

/* hide table of contents on screens narrower than 1440px */
@media (max-width: 1439px) {
    .articleTocWrapper.vbox {
        display: none;
    }
}

/* make header and footer a bit more compact on screens narrower than 769 */
@media (max-width: 768px) {
    header,
    footer {
        padding: 0 1rem;
    }
}
/* make font smaller on screens narrower than 480 */
@media (max-width: 479px) {
    html {
        font-size: 13px;
    }
}

/* HEADER */

header,
footer {
    max-width: 50rem;
    margin: auto;
    width: 100%;
    z-index: 42;
    box-sizing: border-box;
}

.header {
    height: 3rem;
    border-bottom: 1px solid #ccc;
    flex: 0 0 auto;
}

.header-nav.hbox {
    justify-content: flex-end;
    height: 100%;
}

.header-nav a {
    margin: 0 1rem;
    padding: 1rem 0;
    position: relative; /* in order to make 'absolute'ly positioned children relative to parent */
    color: #11f;
}

.header-nav a.active {
    color: #000;
}

.header-nav a.active::after {
    position: absolute; /* taken out of regular flow, but relatively positioned to 'relative' parent*/
    content: "";
    width: calc(100% + 2rem);
    left: -1rem;
    top: 3rem;
    height: 3px;
    background-color: #000;
}

.header-title {
    font-size: 1.25rem;
    font-weight: 400;
    color: #555;
}

/* FOOTER */

footer.footer {
    margin-bottom: 3rem;
    border-top: 1px solid #ccc;
    height: 3rem;
    align-items: center;
    justify-content: end;
    flex: 0 0 auto;
}

.footer-copyright {
    text-align: right;
    color: #555;
}

/* article content */

strong {
    font-weight: 900;
}

blockquote {
    position: relative;
    font-style: italic;
    font-weight: 400;
    margin: 1rem 2.5rem;
}

blockquote::before {
    position: absolute; /* taken out of regular flow, but relatively positioned to 'relative' parent*/
    content: "";
    width: 5px;
    left: -2.5rem;
    top: 0;
    height: 100%;
    background-color: #a27;
}

h2 {
    margin: 3rem 0 1.25rem 0;
}

h3 {
    margin: 2rem 0 1rem 0;
}

ol ol {
    list-style-type: lower-alpha;
}

ol ol ol {
    list-style-type: lower-roman;
}

article ul > li > img {
    margin: 0 0 2rem 0;
}

article img {
    width: 100%;
    border: 1px solid rgb(207, 207, 207);
    box-sizing: border-box;
}

.articleTocWrapper.vbox {
    position: fixed;
    top: 0px;
    right: 0px;
    height: 100vh;
    max-width: 19rem;
    justify-content: center;
}

.articleTOC {
    margin: 0 2rem;
    padding: 0.5rem;
    color: #555;
    border: 2px solid #bbb;
    background-color: #eee;
}

.articleTOC > ul {
    margin-bottom: 0;
}

.articleTOC a {
    font-weight: 400;
    text-decoration: none;
    color: #777;
}

.articleTocHeading {
    margin: 0 0 0 1.25rem;
    font-weight: bold;
}

.articleHeader {
    margin: 0rem 0rem 6rem 0rem;
}

/* page layout */

.content {
    max-width: 42rem;
    width: 100%;
    margin: 0 auto auto auto;
    padding: 3rem 1rem;
    box-sizing: border-box;
}

.content > :first-child {
    padding-top: 0;
    margin-top: 0;
}

/* list of articles */

.article-list > ul > li > a {
    text-decoration: none;
    color: inherit;
}

.postEntry {
    margin: 0rem 0rem 2.5rem 0rem;
}

.peMainTitle,
.ahMainTitle {
    font-size: 2rem;
    font-weight: 700;
    color: #111;
}

.peMainTitle {
    font-size: 2rem;
}

.ahMainTitle {
    font-size: 3rem;
    margin: 0 0 1rem 0;
}

.peDate,
.ahDate {
    color: #999;
}

.peUpdateLabel,
.ahUpdateLabel {
    color: #f99
}

.peDate {
    font-size: 0.875rem;
}

.peSubTitle,
.ahSubTitle {
    font-size: 1.25rem;
    font-weight: 300;
    width: 90%;
    color: #555;
}

.peSubTitle {
    margin: 0.5rem 0;
}

.ahSubTitle {
    margin: 0 0 1.5rem 0;
}

.articleHeader::after {
    content: "";
    width: 13.33rem;
    height: 1px;
    position: relative;
    top: 0.5rem;
    border-bottom: 1px solid #ddd;
}

/* utility classes */

.hbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.vbox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.vbox-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nolist {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.flexitem {
    flex: 1 0 auto;
}

.flexitem-fix {
    flex: 0 0 auto;
}

.article-list {
    margin: 0 0 0 0;
}

.article-list > ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.noLinkStyling {
    text-decoration: none;
    color: inherit;
}



/* code styling */

:not(pre) > code {
    padding: .1em;
    margin: 0 .1em;
    border-radius: .3em;
    white-space: normal;
    background: #2d2d2d;
    color: #ccc;
    /* background: none; */
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 1em;
    text-align: left;
    /* white-space: pre; */
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}