/* h1 {
    color: green;
} */

.header {
    max-width: 49rem;
    height: 3rem;
    margin: auto;
    width: 100%;
    border-bottom: 1px solid black;
    padding: 0 0.5rem;
    /* border: 1px solid black; */
}
/* 
.header > * {
    margin: 5px;
} */

.header-nav {
    height: 3rem;
    /* border: 1px solid blue; */
}

.header-nav ul {
    /* height: 3rem; */
    text-align: right;
}

.header-nav li {
    /* height: 3rem; */
    display: inline-block;
    margin: 1rem 0rem 1rem 1rem;
}

ol ol {
    list-style-type: lower-alpha;
}

ol ol ol {
    list-style-type: lower-roman;
}

.content {
    max-width: 40rem;
    margin: auto;
}

.hbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* border: 3px solid blue; */
}

.vbox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    /* border: 3px solid blue; */
}

.nolist {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.flexitem {
    flex: 1 0 auto;
    /* border: 2px dotted orange; */
}

article img {
    width: 100%;
    border: 1px solid rgb(207, 207, 207);
    /* padding: .5rem; */
    box-sizing: border-box;
}

.article-list {
    margin: 3rem 0 0 0;
}

.article-list > ul {
    list-style: none;
    padding: 0;
}

.article-list > ul > li > a {
    text-decoration: none;
    color: inherit;
}

.postEntry {
    margin: 2.5rem 0rem;
}

.peDate {
    color: #aaa;
}

.peMainTitle {
    font-size: 2rem;
    font-weight: bold;
    padding: 0 0 0.375rem 0;
}

.peSubTitle {
    font-size: 1.25rem;
    font-style: italic;
    font-weight: lighter;
}

.articleTocWrapper.vbox {
    position: fixed;
    top: 0px;
    right: 0px;
    height: 100vh;
    max-width: 19rem;
    justify-content: center;
}

.articleTOC {
    /* position: fixed; */
    /* top: 6.5rem; */
    /* right: 0px; */
    margin: 0 2rem;
    padding: 0.5rem;
    color: #555;
    /* max-width: 15rem; */
    border: 2px solid #bbb;
    background-color: #eee;
}

.tocHighlight {
    background-color: red;
}

.articleTOC > ul {
    margin-bottom: 0;
}

.articleTOC a {
    font-weight: lighter;
    text-decoration: none;
    color: #777;
}

.articleTocHeading {
    margin: 0 0 0 1.25rem;
    font-weight: bold;
}

.articleHeader {
    margin: 2.5rem 0rem;
}

.ahDate {
    color: #aaa;
}

.ahMainTitle {
    font-size: 2rem;
    font-weight: bold;
    padding: 0 0 0.375rem 0;
}

.ahSubTitle {
    font-size: 1.25rem;
    font-style: italic;
    font-weight: lighter;
}
